body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    padding: 1%;
}

.bg-primary {
    background-color: #0c50a0;
}

a:hover.noHover,
a:focus.noHover {
    text-decoration: none;
}

.jumbotron {
    padding: 20px !important;
}
div.tagContainer {
    height: 40px;
}

.noMarginLeft {
    margin-left: 0px !important;
}

.sectionTitle {
    border-bottom: 6px solid #eee;
    display: inline-block;
}

.filter {
    background-color: #f7f7f7;
    padding: 15px;
    padding-bottom: 40px;
    border: 1px solid;
}

.filter .col-sm-9 {
    margin-left: 12%;
}

.filter .filterTitle {
    border: 1px solid;
    padding: 5px;
}

.filter .filterTitle ul {
    list-style-type: none;
}

.filter .filterTitle input {
    margin-right: 5px;
}

.filter ul span {
    cursor: pointer;
}

#anio_slider, #value_slider {
    font-weight: bold;
    max-width: 165px;
    margin-left: 20px;
}

#value_slider {
    margin-top: 10px;
}

footer p {
    display: block;
    margin-left: 50px;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #6b98bbda;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 1650px;
    z-index: 2000;
    display: none;
}

/*
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
*/

#stats, #statsPie, #statsStack {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    border: 1px solid;
    margin: 15px 0 15px 0;
}

.jumbotron p {
    font-weight: bold;
}