body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    padding: 1%;
}

a:hover.noHover,
a:focus.noHover {
    text-decoration: none;
}

.jumbotron {
    padding: 20px !important;
}
div.tagContainer {
    height: 40px;
}

.noMarginLeft {
    margin-left: 0px !important;
}

.sectionTitle {
    border-bottom: 6px solid #eee;
    display: inline-block;
}

.filter {
    background-color: #eeeeee;
    padding: 15px;
    padding-bottom: 40px;
}

.filter .col-sm-9 {
    margin-left: 12%;
}

.filter .filterTitle {
    border: 1px solid;
    padding: 5px;
}

.filter .filterTitle ul {
    list-style-type: none;
}

.filter .filterTitle input {
    margin-right: 5px;
}

.filter ul span {
    cursor: pointer;
}

#anio_slider, #value_slider {
    font-weight: bold;
    max-width: 175px;
    margin-left: 20px;
}

#value_slider {
    margin-top: 10px;
}

footer p {
    display: block;
    margin-left: 50px;
}